.project{
    background-image: url(./web-images/vaporwave-nawpic-20.jpg);
    background-size: contain;
    background-repeat: repeat;
}
.project h1{
    margin:auto;
    color: #13ffff;
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: #000023;
    height: fit-content;
}
.project-line{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.images{
    width:70%;
    height: 20%;
    margin-bottom: 5%;
}
@media screen and (max-width:600px) {
    .images{
        width: 100%;
        height: 10%;
    }
    
}